{% extends 'layout.html' %}
{% load rbac %}
{% block css %}
<style>
        tr.active {
            border-left: 3px solid #fdc00f;
        }

        table {
            font-size: 12px;
        }

        .panel-body {
            font-size: 12px;
        }








</style>
{% endblock %}


{% block content %}
<div class="luffy-container">
	<div class="col-md-3">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<i class="fa fa-book" aria-hidden="true"></i> Main Menu
				<a href="{% reverse_url request 'rbac:menu_create' %}" class="right btn btn-success btn-xs"
				   style="padding: 2px 8px;margin: -3px;">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
					Create
				</a>
			</div>
			<!-- Table -->
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>Icon</th>
					<th>Choice</th>
				</tr>
				</thead>
				<tbody>
				{% for row in menus %}
				<tr class="{% if row.id|safe == menu_id %}active{% endif %}">
					<td>
						<a href="?mid={{ row.id }}">{{ row.title }}</a>
					</td>
					<td>
						<i class="fa {{ row.icon }}" aria-hidden="true"></i>
					</td>
					<td>
						<a style="color: #333333;" href="{% reverse_url request 'rbac:menu_update' pk=row.id %}">
							<i class="fa fa-edit" aria-hidden="true"></i></a>


						<a style="color: #d9534f;" href="{% reverse_url request 'rbac:menu_del' pk=row.id %}"><i
								class="fa fa-trash-o"></i></a>

					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<i class="fa fa-gavel" aria-hidden="true"></i> Sub Menu
				{% if menu_id %}
				<a href="{% reverse_url request 'rbac:second_menu_create' menu_id=menu_id %}"
				   class="right btn btn-success btn-xs"
				   style="padding: 2px 8px;margin: -3px;">
					<i class="fa fa-plus-circle" aria-hidden="true"></i>
					Create
				</a>
				{% endif %}
			</div>
			<!-- Table -->
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>CODE&URL</th>
					<th>Choice</th>
				</tr>
				</thead>
				<tbody>
				{% for row in second_menus %}
				<tr class="{% if row.id|safe == second_menu_id %}active {% endif %}">
					<td rowspan="2">
						<a href="?mid={{ menu_id }}&sid={{ row.id }}">{{ row.title }}</a>
					</td>
					<td>{{ row.name }}</td>
					<td>
						<a style="color: #333333;"
						   href="{% reverse_url request 'rbac:second_menu_update' pk=row.id %}">
							<i class="fa fa-edit" aria-hidden="true"></i></a>


						<a style="color: #d9534f;"
						   href="{% reverse_url request 'rbac:second_menu_del' pk=row.id %}"><i
								class="fa fa-trash-o"></i></a>

					</td>
				</tr>
				<tr class="{% if row.id|safe == second_menu_id %}active {% endif %}">
					<td colspan="2" style="border-top: 0">{{ row.url }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<i class="fa fa-gavel" aria-hidden="true"></i> Permission
				<div class="btn-group right">
					{% if second_menu_id %}
					<a href="{% reverse_url request 'rbac:permission_create' second_menu_id=second_menu_id %}"
					   class="right btn btn-success btn-xs"
					   style="padding: 2px 8px;margin: -3px;">
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
						Create
					</a>
					{% endif %}
					<a href="{% reverse_url request 'rbac:multi_permissions' %}" class="btn btn-xs btn-primary"
					   style="padding: 2px 8px;margin: -3px 0;">
						<i class="fa fa-mail-forward" aria-hidden="true"></i>
						Batch Operation
					</a>
				</div>

			</div>

			<!-- Table -->
			<table class="table">
				<thead>
				<tr>
					<th>Name</th>
					<th>CODE&URL</th>
					<th>Choice</th>
				</tr>
				</thead>
				<tbody>
				{% for row in permissions %}
				<tr>
					<td rowspan="2">{{ row.title }}</td>
					<td>{{ row.name }}</td>
					<td>
						<a style="color: #333333;"
						   href="{% reverse_url request 'rbac:permission_update' pk=row.id %}">
							<i class="fa fa-edit" aria-hidden="true"></i></a>


						<a style="color: #d9534f;"
						   href="{% reverse_url request 'rbac:permission_del' pk=row.id %}"><i
								class="fa fa-trash-o"></i></a>

					</td>
				</tr>
				<tr>
					<td colspan="2" style="border-top: 0">{{ row.url }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}