{% extends 'base.html' %}
{% block content %}
<div class="luffy-container">
	<form>
		<table class="table table-bordered">
			{% if display.btn %}
			{{ display.btn | safe}}
			{% endif %}
			<thead>
			<tr>
				<th>Number</th>
				{% for name in display.head %}
					<td>{{ name }}</td>
				{% endfor %}
			</tr>
			</thead>
			<tbody>
			{% for object in display.data %}
			<tr>
				<td>{{ forloop.counter }}</td>
				{% for data in object %}
					<td> {{ data }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</form>
	<nav>
		<ul class="pagination">
			{{ display.pager.page_html|safe }}
		</ul>
	</nav>
</div>
{% endblock %}

